# --------------------------------------------------------------------------------------------------------------------------------
# phpstorm stuff
# ________________________________________________________________________________________________________________________________
.buildpath
.project
.settings
.metadata
.idea

# --------------------------------------------------------------------------------------------------------------------------------
# darwin stuff
# ________________________________________________________________________________________________________________________________
**/.DS_Store

# --------------------------------------------------------------------------------------------------------------------------------
# vagrant stuff
# ________________________________________________________________________________________________________________________________
.vagrant
*.box

# --------------------------------------------------------------------------------------------------------------------------------
# jenkins and sonar stuff
# ________________________________________________________________________________________________________________________________
.sonar
.sonar_lock
build/common
build/logs
build/coverage
installer

# --------------------------------------------------------------------------------------------------------------------------------
# server stuff
# ________________________________________________________________________________________________________________________________
src/**/.htaccess
**/*.log

# --------------------------------------------------------------------------------------------------------------------------------
# archive stuff
# ________________________________________________________________________________________________________________________________
**/*.gz
**/*.bz2
**/*.tar
**/*.zip
**/*.phar

# --------------------------------------------------------------------------------------------------------------------------------
# composer stuff
# ________________________________________________________________________________________________________________________________
**/vendor/
**/composer.lock

# --------------------------------------------------------------------------------------------------------------------------------
# temporary stuff
# ________________________________________________________________________________________________________________________________
**/temp/
**/tmp/
